<header>
	<section class="arriba">
		<a href="/"><img src="/images/logosb.png" class="logo"></a>
		<div class="buscador">
			<img src="/images/lupa.png" class="lupa">
			<input class="inp_buscador" placeholder="Buscar Productos...">
		</div>
		<div class="contenedor_derecha">
			
			<% if (user) { %>
				<div class="user-info">
					<li class="username">Bienvenido, <%= user.name %>
					</li>
					<li class="username">Eres un: <%= user.role ? user.role : 'Rol no definido' %></li>
					
					<form action="/user/logout" method="GET" class="logout">
						<button class="btn-logout" type="submit"> Cerrar sesion</button>
					</form>
				</div>
					<% }else{ %>
						<a href="/user/login"><img src="/images/persona.png" class="persona"></a>
					<% } %>
				
					
							<div>
							<a href="/carrito"><img src="/images/carrito.png" class="carrito"></a>
</header>