<header>
	<section class="arriba">
		<a href="/index"><img src="/images/logosb.png" class="logo"></a>
		<div class="buscador">
			<img src="/images/lupa.png" class="lupa">
			<input class="inp_buscador" placeholder="Buscar Productos...">
		</div>
		<div class="contenedor_derecha">
			<a href="/user/login"><img src="/images/persona.png" class="persona">
				
			</a>
			<a href="productCart"><img src="/images/carrito.png" class="carrito"></a>
		</div>
	</section>
</header>