<section class="menu">
	<h3>
		<ul class="lista">
			<li><a href="/index" class="activo">Inicio</a></li>
			<div class="listas">
			<li class="desplegable"> <!--dropdown-->
			<a href="javascript:Void(0)" class="desplegada"> Productos</a> <!--dropbtn-->
			<div class="contenedor_desplegable"> <!--dropdown-content-->
				<a href="/products/list">Hamburguesas</a>
				<a href="/products/list">Veganas</a>
				<a href="/products/list">Bebidas</a>
				<a href="/products/list"> Ver todos</a>
			</div>
		</li>
		</div>
			<li><a href="/productCart"> Mis Pedidos</a></li>
			<li><a href="sucursales">Sucursales</a></li>
			</ul>
			</h3>
		</section>