<%- include('./partials/head') %>

<%- include('./partials/header') %>
<body>
    <main>
        <div>
            <a href="register"><h2>Registrarme</h2></a>
        </div>
        <section class="formulario">
            <ul class="list1">
                <li><input type="text" name="" id="" placeholder="nombre"></li>
                <li><input type="text" name="" id="" placeholder="descripcion"></li>
                <li><input type="file" name="" id="" placeholder=""></li>
                <li><input type="number" name="" id="" placeholder="precio"></li>
                <form ...>

                    <p>elige una opcion</p>
                    <p><input type="radio" name="estacion" value="primavera"/> menu Hamburguesas</p>
                    <p><input type="radio" name="estacion" value="verano"/> menu vegano </p>
                      
                 </form>
            </ul>
        </section>

        <div class="divBtn">
            <button class="button">
                Subir producto
            </button>
        </div>

    </main>
</body>

    <%- include('./partials/footer') %>
    


</html>
