<%- include('./partials/head',{style:"detallesProducto", title:"detallesProductos"}) %>


<body>
    <%- include('./partials/header') %>

    <%- include('./partials/menu_arriba') %>

    <section id="img-descrip">
            <div class="container">
            <img src="images/foto3.jpg" class="img-hambur">
            </div>
        <div class="img-descrip">
            <h2 class="nombre-hambur">Doble cuarto de libra con queso</h2>
            
            <p class="descrip">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, ratione voluptatibus! Impedit, modi
                necessitatibus aliquid quibusdam aliquam illo adipisci eligendi quod ut, provident quos debitis vero
                perferendis porro temporibus vel?          
            </p>
        </div>
    </section>
            <div class="comprar">
                <h2 class="precio">$1200</h2>
            <button>Añadir a mi pedido</button>
            </div>
        
        
    

    <section id="caracteristicas-hamburguesa">
        <div class="container-ingr">
            <ul class="lista-ingredientes">
                <li class="lista2">
                    <span class="contiene">Pan</span>
                    <span class="ingredientes">100% papa</span>
                </li>
                <li class="lista2" >
                    <span class="contiene">Carne</span>
                    <span class="ingredientes">200 Gr X2</span>
                </li>
                <li class="lista2">
                    <span class="contiene">Queso</span>
                    <span class="ingredientes">Cheddar X2</span>
                </li>
                <li class="lista2">
                    <span class="contiene">Cebolla</span>
                    <span class="ingredientes">Si</span>
                </li>
                <li class="lista2">
                    <span class="contiene">Salsa</span>
                    <span class="ingredientes">Mostaza y Ketchup</span>
                </li>
            </ul>
        </div>
    </section>

    <%- include('./partials/footer') %>
 
</body>
</html>

