<%- include('./partials/head',{style:"register",title:"Registrarme"}) %>
<body>
    <%- include('./partials/header') %>

    <%- include('./partials/menu_arriba') %>

    <main>
        <div>
            <a href="register"><h2>Registrarme</h2></a>
        </div>
        <form method="POST" action="/user/register">
        <section class="formulario">
            <ul class="list1">
                <li><input type="text" name="nombre" id="" placeholder="Nombre"></li>
                <li><input type="text" name="apellido" id="" placeholder="Apellido"></li>
                <li><input type="email" name="email" id="" placeholder="Email"></li>
                <li><input type="password" name="contrase単a" id="" placeholder="Contrase単a"></li>
                <li><input type="password" name="recontrase単a" id="" placeholder="Repetir Contrase単a"></li>
                <li><p class="fecha">Fecha de nacimiento</p><input type="date" name="fecha_de_nacimiento" id="" placeholder="Fecha de Nacimiento">
                </li>
            </ul>
            <ul class="list2">
                <li><input type="tel" name="telefono" id="" placeholder="Telefono"></li>
                <li><input type="text" name="pais" id="" placeholder="Pais"></li>
                <li><input type="text" name="provincia" id="" placeholder="Provincia"></li>
                <li><input type="text" name="ciudad" id="" placeholder="Ciudad"></li>
                <li><input type="number" name="codigo_postal" id="" placeholder="Codigo postal"></li>
                <li><input type="text" name="calle_y_numero" id="" placeholder="Calle y numero"></li>
            </ul>
        </section>

        <div class="divBtn">
            <button class="buttonCuenta">
                Crear Cuenta
            </button>
        </div>
    </form>
    </main>
</body>

    <%- include('./partials/footer') %>



</html>