.footer{
    display: flex;
    margin-top: auto;
    width: 100%;
    height: auto;
    background-color: #5c0341;
 
}

h4{
   color: rgb(218, 215, 210);;
   font-weight: bolder;
   text-decoration: underline;
   text-align: center;
}

.redes{
    margin-left: 10px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.lista_redes li{
	float: left;
}
.redes a:hover{
    background-color: rgb(65, 52, 100);
}


.redes #facebok{
    position: relative;
    
    display: flex;

}
.redes #instagram{
    position: relative;

    display: flex;
}
.redes #twitter{
    position: relative;
    
    display: flex;
}

.redes #logo_fb{
    width: 30px;
    height: 30px;
}

.redes #logo_ins{
    width: 30px;
    height: 30px;
}

.redes #logo_tw{
    width: 30px;
    height: 30px;
}
.columna_medio{
    margin-left: 150px !important;
    text-align: left;
    color: rgb(218, 215, 210);;
    font-weight: bolder;

}

.pagos{
    margin-left: 100px !important;
    display: flex;
    
}

.pagos #logo_pagos{
    gap: 30px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}