* {
    font-family: 'Karma', serif;

}

body {
    margin: 0;
    opacity: 90%;
}


.lupa {
    height: 40px;
    width: 40px;
}

.buscador {
    justify-content: center;
    align-items: center;

}


.persona {
    height: 40px;
    width: 40px;
}

.carrito {
    height: 40px;
    width: 40px;
}

div.contenedor_derecha {
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 13px;
    display: inline-flex;
    align-items: center;
}

.arriba {
    background-color: #5c0341;
    display: flex;
    height: 90px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    width: 100%;
}

.logo {
    width: 165px;
    height: 80px;
}

input {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    border: 2px solid #000;
    height: 30px;
}

@media (min-width: 576px) and (max-width:991px) {
    .arriba {
        background-color: #5c0341;
        display: flex;
        height: 90px;
        box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .buscador {
            display: flex;
    }
    .lupa {
        height: 5%;
        width: 5%;
        margin-left: 40px;
        margin-top: 20px;
        opacity: 1;
        
    }
    
    input {
        background-color: #fff;
        border: 1px solid #000;
        outline: none;
        margin-top: 20px;
        border-radius: 15px;
        border: 2px solid #000;
        padding: 5px;
        display: flex;
        height: 30px;
    }

    div.contenedor_derecha {
        display: flex;
        flex-direction: row;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        width: 212px;
        height: 88px;
    }


    .persona {
        height: 40px;
        width: 40px;
    }

    .carrito {
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-width: 992px) {
    .arriba {
        background-color: #5c0341;
    }
    .lupa {
        height: 40px;
        width: 40px;
        opacity: 3;
        display: flex;
    }

    input {
        background-color: #fff;
        border: 1px solid #000;
        outline: none;
        margin-top: 20px;
        border-radius: 15px;
        border: 2px solid #000;
        padding: 5px;
        display: flex;
        height: 30px;
    }

    .buscador {
        display: flex;
        margin-left: 167px;
    }

    div.contenedor_derecha {
        display: flex;
        flex-direction: row;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        width: 212px;
        height: 88px;
    }
    }


    .persona {
        height: 40px;
        width: 40px
    }

    .carrito {
        height: 40px;
        width: 40px;

    }


h1 {
    color: #fff;
}
.hola{
    margin: 0;
    padding: 0;
}