* {
    font-family: 'Karma', serif;

}

body {
    margin: 0;
    background-color: rgb(65, 52, 100);
    opacity: 90%;
}

.lupa {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    opacity: 0;
}

.buscador {
    display: flex;
    margin-left: -10px;

}

.persona {
    height: 40px;
    width: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

.carrito {
    height: 40px;
    width: 40px;
    margin-top: 20px;
}

div.contenedor_derecha {
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 13px;
    display: inline-flex;
    align-items: center;
}

.arriba {
    background-color: rgb(79, 66, 130);
    display: flex;
    justify-content: flex-start;
    height: 20%;
    /*     box-sizing: border-box;
 */
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    width: 100%;
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

input {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid #000;
    padding: 5px;
    display: flex;
    height: 30px;
}

@media (min-width: 576px) and (max-width:991px) {
    .lupa {
        height: 40px;
        width: 40px;
        margin-left: 40px;
        margin-top: 20px;
        opacity: 1;
    }

    input {
        background-color: #fff;
        border: 1px solid #000;
        outline: none;
        margin-top: 20px;
        border-radius: 15px;
        border: 2px solid #000;
        padding: 5px;
        display: flex;
        height: 30px;
    }

    .buscador {
        display: flex;
        margin-left: 70px;

    }

    div.contenedor_derecha {
        border: none;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 12px;
        align-items: center;
        display: inline-flex;
    }


    .persona {
        height: 40px;
        width: 40px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .carrito {
        height: 40px;
        width: 40px;
        margin-left: 40px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 992px) {

    .lupa {
        height: 40%;
        width: 40%;
        margin-left: 40%;
        margin-top: 20%;
        opacity: 3;

    }

    input {
        background-color: #fff;
        border: 1px solid #000;
        outline: none;
        margin-top: 20px;
        border-radius: 15px;
        border: 2px solid #000;
        padding: 5px;
        display: flex;
        height: 30px;
    }

    .buscador {
        display: flex;

        margin-right: 50%;
        margin-left: 50%;
    }

    div.contenedor_derecha {
        border: none;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 12px;
        align-items: center;
        display: inline-flex;
    }


    .persona {
        height: 40px;
        width: 40px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .carrito {
        height: 40px;
        width: 40px;
        margin-left: 40px;
        margin-top: 20px;
    }
}

h1 {
    color: #fff;
}