.Nuestras_ofertas {
    background-color: #6352A3;
    color: #1E150E;
    margin: 60px 0px 0px 0px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    text-align: center;
    font-weight: bolder;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
    width: 100%;
}

.lista_fotos2 {
    display: flex;
    height: 60px;
    overflow: initial;
    gap: 30px;
    width: 20%;
    align-items: baseline;
    position: relative;
}


.lista_fotos2 #foto7 {
    position: relative;
    height: 115px;
    display: flex;
    margin-right: 0;
}

.lista_fotos2 #foto8 {
    position: relative;
    height: 115px;
    display: flex;
}

.lista_fotos2 #foto9 {
    position: relative;
    height: 115px;
    display: flex;
}

.lista_fotos2 #vegana4 {
    position: relative;
    height: 115px;
    display: flex;
}

.lista_fotos2 #vegana5 {
    position: relative;
    height: 115px;
    display: flex;
}