*{
    font-family: 'Karma', serif;

}
body{
    margin: 0;
    background-color: rgb(65, 52, 100);
    opacity: 90%;
}

.lupa{
    height: 40px; 
    width: 40px; 
    margin-top: 20px;
    opacity: 0;
}

.buscador{
    display: flex;
    margin-left: -10px;
    
}
.persona{
    height: 40px; 
    width: 40px; 
    margin-left: 40px; 
    margin-top: 20px;
}

.carrito{
    height: 40px; 
    width: 40px; 
    margin-top: 20px;
}

div.contenedor_derecha {
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 13px;
    display: inline-flex;
    align-items: center;
}

.arriba{
    background-color: rgb(79, 66, 130);
    display: flex; 
    justify-content: flex-start;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    width: 100%;
}

.logo{
    width: 80px; 
    height: 80px; 
    margin-right: 20px;
}

input{
    background-color: #fff;
    border: 1px solid #000;        
    outline: none;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid #000;
    padding: 5px;
    display: flex;
    height: 30px;   
}
.buttonCuenta{
    background-color: #6352A3;
    color: white;
    border-radius: 2px;
    opacity: 60%;
    
}

.divBtn{
    display:flex ;
    justify-content: center;
}

.buttonCuenta:hover,.buttonCuenta:focus{
    opacity: 100%;
    cursor: pointer;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2.4rem;
    padding: 2.4rem;

    min-height: 20rem;
}

.list1, .list2{
    background-color: #3D2B6B;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
a{
    display: inline-block;
	color: rgb(218, 215, 210);;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
@media (min-width: 576px) and (max-width:991px){
    .lupa{
        height: 40px; 
        width: 40px; 
        margin-left: 40px; 
        margin-top: 20px;
        opacity: 1;
    }
    
    input{
        background-color: #fff;
        border: 1px solid #000;        
        outline: none;
        margin-top: 20px;
        border-radius: 15px;
        border: 2px solid #000;
        padding: 5px;
        display: flex;
        height: 30px;   
    }
    
    .buscador{
        display: flex;
        margin-left: 70px;
        
    }
    
    div.contenedor_derecha{
        border: none;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 12px;
        align-items: center;
        display: inline-flex;
    }
    
    
    .persona{
        height: 40px; 
        width: 40px; 
        margin-left: 40px; 
        margin-top: 20px;
    }
    
    .carrito{
        height: 40px; 
        width: 40px; 
        margin-left: 40px; 
        margin-top: 20px;
    }
    }

@media screen and (min-width: 992px){

.lupa{
    height: 40px; 
    width: 40px; 
    margin-left: 40px; 
    margin-top: 20px;
    opacity: 3;

}

input{
    background-color: #fff;
    border: 1px solid #000;        
    outline: none;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid #000;
    padding: 5px;
    display: flex;
    height: 30px;   
}

.buscador{
    display: flex;
    margin-left: 70px;
    
}

div.contenedor_derecha{
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 12px;
    align-items: center;
    display: inline-flex;
}


.persona{
    height: 40px; 
    width: 40px; 
    margin-left: 40px; 
    margin-top: 20px;
}

.carrito{
    height: 40px; 
    width: 40px; 
    margin-left: 40px; 
    margin-top: 20px;

}




@media screen and (max-width: 500px) {

    .formulario{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        column-gap: 0;
    }

}
}