*{
    font-family: 'Karma', serif;

}
body{
    margin: 0;
    background-color: #6352A3;
    opacity: 90%;
}

.fondo-register{
    background: url(../images/fondo5.jpg);
    background-position: center center;
}
.titulo-register{
    color: black;
}

.buttonCuenta{
    background-color: #6352A3;
    color: white;
    border-radius: 2px;
    opacity: 100%;
    
}

.divBtn{
    display:flex ;
    justify-content: center;
}

.buttonCuenta:hover,.buttonCuenta:focus{
    opacity: 100%;
    cursor: pointer;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2.4rem;
    padding: 2.4rem;

    min-height: 20rem;
}

.list1, .list2{
    background-color: rgb(238, 144, 4);;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
a{
    display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
@media (min-width: 576px) and (max-width:991px){
} 

@media screen and (min-width: 992px){




@media screen and (max-width: 500px) {

    .formulario{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        column-gap: 0;
    }

}
}