<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karma:wght@300&display=swap">
    <link rel="stylesheet"  href="css/detallesProducto.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <section class="arriba">
        <a href="home"><img src="images/logo.png" class="logo"></a>
        <h1 a href="./index.html"> Scooby Burger</a></h1>
    <div class="buscador">
        <a href="login"><img src="images/lupa.png" class="lupa"></a>
        <input class="inp_buscador" placeholder="Buscar Productos...">
        </div>
    <div class="contenedor_derecha">
        <a href="login"><img src="images/persona.png" class="persona"></a>
        <a href="productCart"><img src="images/carrito.png" class="carrito"></a>
        </div>
    </header>

    <section id="img-descrip">
            <div class="container">
            <img src="images/foto3.jpg" class="img-hambur">
            </div>
        <div class="img-descrip">
            <h2 class="nombre-hambur">Doble cuarto de libra con queso</h2>
            
            <p class="descrip">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, ratione voluptatibus! Impedit, modi
                necessitatibus aliquid quibusdam aliquam illo adipisci eligendi quod ut, provident quos debitis vero
                perferendis porro temporibus vel?          
            </p>
        </div>
    </section>
            <div class="comprar">
                <h2 class="precio">$1200</h2>
            <button>Añadir a mi pedido</button>
            </div>
        
        
    

    <section id="caracteristicas-hamburguesa">
        <div class="container-ingr">
            <ul class="lista-ingredientes">
                <li class="lista">
                    <span class="contiene">Pan</span>
                    <span class="ingredientes">100% papa</span>
                </li>
                <li class="lista" >
                    <span class="contiene">Carne</span>
                    <span class="ingredientes">200 Gr X2</span>
                </li>
                <li class="lista">
                    <span class="contiene">Queso</span>
                    <span class="ingredientes">Cheddar X2</span>
                </li>
                <li class="lista">
                    <span class="contiene">Cebolla</span>
                    <span class="ingredientes">Si</span>
                </li>
                <li class="lista">
                    <span class="contiene">Salsa</span>
                    <span class="ingredientes">Mostaza y Ketchup</span>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <section>
            <div class="redes">
                <ul>
                    <li><i class="fab fa-facebook"></i> Facebook</li>
                    <li><i class="fab fa-instagram"></i> Instagram</li>
                    <li><i class="fab fa-twitter"></i> Twitter</li>
                </ul>

                <ul>
                    <li><a href="">Nuestra historia</li>
                    <li><a href="">Trabaja con nosotros</li>
                    <li><a href="">Terminos y Condiciones</li>
                    <li><a href="">Contacto</li>
                </ul>
            </div>
        </section>

        <div class="pie">
        <p>©️ Scooby 2022. Todos los derechos reservados. Info: Info@BurgerScooby.com</p>
        </div>
    </footer>  
</body>
</html>

