<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scooby Burgers</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link href="https://fonts.googleapis.com/css2?family=Karma&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/css/edicYProd.css">
</head>

<body>
    <header class="header">
        <div class="top-header">
            <div class="logo">
                <a href="home"><img src="/public/images/Logo.png" alt="logosb"></a>
                <h1> Scooby Burgers </h1>
            </div>
            <div class="form">
                <input type="search" name="buscar" id="">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="headUser">
                <a href="home"><i class="fi fi-sr-user"></i></a>
                <a href="productCart"><i class="fi fi-sr-shopping-cart"></i></a>
            </div>
        </div>
        <div class="headerNav">
            <ul>
                <li><a href="home">Inicio</a></li>
                <li><a href="productDetail">Menú</a></li>
                <li><a href="productCart">Mis Pedidos</a></li>
                <li><a href="home">Sucursales</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div>
            <a href="register"><h2>Registrarme</h2></a>
        </div>
        <section class="formulario">
            <ul class="list1">
                <li><input type="text" name="" id="" placeholder="nombre"></li>
                <li><input type="text" name="" id="" placeholder="descripcion"></li>
                <li><input type="file" name="" id="" placeholder=""></li>
                <li><input type="number" name="" id="" placeholder="precio"></li>
                <form ...>

                    <p>elige una opcion</p>
                    <p><input type="radio" name="estacion" value="primavera"/> menu Hamburguesas</p>
                    <p><input type="radio" name="estacion" value="verano"/> menu vegano </p>
                      
                 </form>
            </ul>
        </section>

        <div class="divBtn">
            <button class="button">
                Subir producto
            </button>
        </div>

    </main>
    <footer class="footer">
        <section class="redes">
        <h4> VISITANOS! </h4>
        <ul class="lista_redes">
            <li id="facebook">
                <a href="facebook.com/Hamburguesas_Scooby"><img src="/public/images/facebook.png" id="logo_fb"></a>
            </li>
            <li id="instagram">
                <a href="instagram.com/Hamburguesas_Scooby"><img src="/public/images/instagram.png" id="logo_ins"></a>
            </li>
            <li id="twitter">
                <a href="twitter.com/Hamburguesas_Scooby"><img src="/public/images/twitter.png" id="logo_tw"></a>
            </li>
        </section>
        <section class="columna_medio">
            <p>NUESTRA HISTORIA</p>
            <p>TRABAJA CON NOSOTROS</p>
            <p>TERMINOS Y CONDICIONES</p>
            <p>CONTACTO</p>
        </section>
        <section class="pagos">
            <ul id="logo_pagos">
                <li id="lock">
                    <img src="/public/images/lock.png">
                </li>
                <li id="mp">
                    <img src="/public/images/mercado.png">
                </li>
                <li id="visa">
                    <img src="/public/images/visa.png">
                </li>
                <li id="master">
                    <img src="/public/images/master.png">
                </li>
            </ul>
        </section>
    </footer>
</body>

</html>
